*{
    border: none;
    font-family: 'Pretendard';
}


.inputBox {
    border: 0.5px solid #858585;
    display: flex;
    padding: 1rem;
    margin: 1rem 6rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    font-family: 'Pretendard';
    line-height: 1.5rem; /* 150% */
    width : 85vw;
}


.inputBox::placeholder{
    font-size: 1rem;
    color : #858585;
    font-family: 'Pretendard';
}

.normalButton{
    width: 343px;
    height: 56px;
    background-color: #E2E2E2;
    text-align: center;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
}

.PinkLink{
    font-size: 16px;
    font-weight: 600;
    color:#FF7074;

}

.LogoContainer{
    display: flex;
    padding: 18rem 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    // height : 8rem;
    position: relative;
    background-color: white;
    border-radius: 0.375rem;
}


.LoginContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align to the bottom of the container */
    align-items: center;
    text-align: center;
    gap: 1rem;
    position: fixed; /* Fixed position to keep it at the bottom */
    bottom: 8rem; /* Stick to the bottom of the screen */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    // width: 100%;
    padding: 1rem;
    background-color: #ffffff; /* Optional background color */
}

    .ButtonContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Align to the bottom of the container */
        align-items: center;
        text-align: center;
        gap: 1rem;
        position: fixed; /* Fixed position to keep it at the bottom */
        bottom: 4rem; /* Stick to the bottom of the screen */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust for centering */
        width: 100%;
        padding: 1rem;
        background-color: #ffffff; /* Optional background color */
    }
    
    .Button {
        display: flex;
        padding: 1rem 8.9rem;
        // margin: 1rem 0.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.375rem;
        background-color: #FF7074;
        color: white;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 600;
        font-family : 'Pretendard';
        line-height: 1.5rem; /* 150% */
    }
    