*{
    border: none;
    font-family: 'Pretendard';
}ㄴ 

.ProductContainer{

    width: 10rem;
    height: 14rem;
    margin: 1rem auto;
    border: #E2E2E2 1px solid;
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
   
//    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.20);
}

.ProductPicture{
    width: 10rem;
    height: 10rem;
    // background-color: rgb(219, 219, 219);
}

.ProductText{
    width: 151px;
    height: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Pretendard';
    margin: 4px auto;
}

.ProductTag{
    width: 151px;
    height: 15px;
    font-size: 1rem;
    font-family: 'Pretendard';
    margin: 4px auto;
    color : #FF7074;
}

.Container{
    overflow: auto;
    // margin-top: 6rem;
    width:100%;
    height:39rem;
    padding: 0rem 5rem ;

    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 8rem;
    align-items: center;
    justify-content: center;
    justify-items: center;

    // border: solid red 1px;
}

.Button{
    display: flex;
    width : 20rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.375rem;
    background-color: #FF7074;
    color: white;
    font-family: 'Pretendard';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    margin: 3rem 1rem;
        
}


.PopClose{
    width: 23rem;
    height: 4rem;
    margin: 1rem auto;
    font-size: 20px;
    font-weight: bold;
    background-color: #FF9494;
    color: white;
    border-radius: 0.5rem;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.20);

}

.Delete{
    width: 23rem;
    height: 4rem;
    margin: 8px auto;
    font-size: 20px;
    font-weight: bold;
    background-color: #000000;
    color: white;
    border-radius: 0.5rem;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.20);

}

.Line{
    width: 100%;
    height: 0px;
    border: 1px solid #FF7074;
    margin: 4rem auto;
    margin-bottom: 12rem;
}