.TitleWrap{
    display : flex;
    height : 1.3rem;
    padding : 1rem 2.2rem ;
    flex-direction: row;
    gap : 1rem;
    // justify-content: space-around;
    // padding : 0rem 0.5rem 0rem 0rem;
    // gap : 6.5rem;
    // background-color: beige;
}
.LocationWrap{
    display : inline-flex;
    height : 2rem;
    flex-direction: row;
    gap : 1rem;
    // justify-content: space-around;
    // padding : 0rem 0.5rem 0rem 0rem;
    // gap : 6.5rem;
    // background-color: beige;
}


.TitleText{
    color: #000;
    font-family: Inter;
    font-size: 1.0rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    flex-shrink: 0;
    text-align: left;
    // width : 68vw;
}

.CartContainer{
    display : flex;
    flex-direction: column;
    margin : 2rem;
    // width: 20.6875rem;
    // height: 20rem;
    flex-shrink: 0;
    padding : 0.2rem;
    border-radius: 0.375rem;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.20);
    // border :1px solid #c4c4c4;
    // box-shadow: -2px 1px 2px 1px rgba(0, 0, 0, 0.1);
    // background: #f59393;
//    box-shadow: 0px 6px 6px 6px rgba(0,0,0, 0.1);
    // box-shadow: 0px 6px 14px -8px rgba(0, 0, 0, 0.25), 0px -4px 9px -7px rgba(0, 0, 0, 0.25);
}

.ProductImage{
    width: 7.75rem;
    height: 8.11613rem;
    // padding : 1rem 0rem;
    text-align: center;
    // justify-content: center;
    // align-items: center;
    // align-content: center;
    // justify-items: center;
}

.Line{
    // width: 13rem;
    display: flex;
    margin : 0rem 2rem;
    height: 0.1rem;
    background: #EDEDED;
    // background: #acacac;
    align-items: center;
    text-align: center;
}

.ContentWrap{
    display: inline-flex;
    // height : 10rem;
    flex-direction: row;
    padding : 0.5rem;
    // background-color: bisque;
   
}


.ShopName{
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    flex-shrink: 0;
    text-align: left;
    width : 68vw;
    // margin-left : 0.3rem;
    // margin-right : 10.7rem;
    // justify-content: center;
    // align-items: center;
}

.InfoWrap{
    display:flex;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: wrap;
    // width: 12.0625rem;
    // height: 8.11613rem;
    padding-left : 0.5rem;
    gap : 0.6rem;
    
}

.ProductText{
    display: flex;
    
    // width: 9.8125rem;
    // height: 1.6875rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    // line-height: 1.375rem; /* 157.143% */
}

.PriceWrap{
    display: inline-flex;
    flex-direction: row;
    padding: 1rem 1rem 1rem 1rem;
    justify-content: space-between;
    // justify-content: center;
    // align-items: flex-start;
    // gap: 11rem;
}

.Price{
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    // line-height: 1.375rem; /* 183.333% */
}

.ExpectedPrice{
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem 1rem 2rem;
    justify-content: space-between;
}

.Text{
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;


}

.PolicyTitle{
    display : flex;
    padding : 1rem 0rem;

    // width: 19.625rem;
    height: 1.1875rem;
    flex-shrink: 0;
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    opacity: 0.8;
    // letter-spacing: -0.04375rem;
}

.PolicyWrap{
    display: inline-flex;
    // width: 19.8125rem;
    height: 1.5rem;
    padding: 0.625rem 2.2rem;
    // justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;

}

.PolicyText{
    color: #979797;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    // letter-spacing: -0.04375rem;
}

.Wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Button{
    position:fixed;
    bottom : 5rem;
    display: flex;
    flex-direction: row;
    gap : 0.5rem;
    width: 80%;
    padding: 1rem 1.5rem;
    // margin : 2rem;
    margin : 1rem 2rem 0rem 1rem;
    justify-content: center;
    border-radius: 0.75rem;
    background-color: #7E49FF;
    color : white;
    flex-direction: row;
    // align-items: flex-start;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6rem; /* 133.333% */
}