.ButtonRow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonContatiner{
    margin:4px auto;
    width: 400px;
    height: 490px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ButtonContatiner::-webkit-scrollbar {
    display: none;
    // display : flex;
 }


.ButtonFat{
    background-color: #fefefe;
   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width:42%;
    height: 12rem;
    border-radius: 12px;
    margin :0.4rem;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.ButtonSlim{
    background-color: #fefefe;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 88%;
    height: 11rem;
    border-radius: 12px;
    // margin: 8px auto;
    margin : 0.6rem;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.ButtonText{
    font-size: 20px;
    font-weight: bold;
}

.ButtonEmoji{
    transform: translateY(10px);
}

.SlimButtonEmoji{
    transform: translate(-10px, -110px);
}