.SearchWrap{
    display: flex;
    //width : 100%;
    // width: 23.4375rem;
    //height : 2.5rem;
    padding: 0.5rem 1rem;
    // margin-top:rem;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

.SearchBar{
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    align-self: stretch;
    border-radius: 0.75rem;
    //border: 1px solid #F6F6F6;
    background: #F6F6F6;
    gap : 0.5rem;
    // margin-top: 3rem;

}

.SearchInput{
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    align-self: stretch;
    color: #757575;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.Icons{
    width: 1.5rem;
    height: 1.5rem; 
}

.ButtonRow{
    display: flex;
    justify-content: center;
    align-items: center;
    // margin : 1rem 0rem;
}

.ButtonContatiner{
    margin:4px auto;
    // width: 30rem;
    // height: 20rem;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ButtonContatiner::-webkit-scrollbar {
    display: none;
    // display : flex;
 }


.ButtonFat{
    background-color: #fefefe;
   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width:44%;
    height: 12rem;
    border-radius: 0.8rem;
    margin :0.4rem;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
    // box-shadow:0px 4px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.ButtonSlim{
    background-color: #fefefe;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    height: 11rem;
    border-radius: 0.8rem;
    // margin: 8px auto;
    margin : 0.6rem;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.ButtonText{
    font-size: 20px;
    font-weight: bold;
}

.ButtonEmoji{
    transform: translateY(10px);
}

.SlimButtonEmoji{
    transform: translate(-10px, -110px);
}


*{
    font-family: inter;
    margin:0;
}
.LogoContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.20);
}

.ListContainer{
    width: 100%;
    height: 586px;
    margin-top: 7px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.FlowerContainer{
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    width: 90%;
    height: 100px;
    margin: 8px auto;
    display: flex;
    align-items: center;
    padding: 8px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.2);
}

.ImageContainer{
    background-color: white;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.ImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.TagContainer{
    background-color: #FF9494;
    width: auto;
    height: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 8px;
}

.InfoContainer{
    height: 90px;
    width: 60%;
    padding-left: 8px;
}

.Line{
    width: 0px;
    height: 90px;
    border: 1px solid #e2e2e2;
    margin: 8px;
}

.FlowerName{
    font-size: 20px;
    font-weight: bold;

}

.PageInfo{
    background-color: #f2f2f2;
    width: 350px;
    height: 80px;
    font-size: 12px;
    border-radius: 8px;
    margin: 14px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    text-align: center;
}

.PopImageContainer{
    border: 1px solid #e2e2e2;
    background-color: white;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.PopImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.PopDetail{
    background-color:white;
    width: 380px;
    height: 300px;
    margin: 12px auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: pre-wrap;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

}

.PopClose{
    width: 380px;
    height: 60px;
    margin: 12px auto;
    font-size: 20px;
    font-weight: bold;
    background-color: #FF9494;
    color: white;
    border-radius: 12px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.20);

}