.ButtonRow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonContatiner{
    margin:4px auto;
    width: 400px;
    height: 490px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ButtonContatiner::-webkit-scrollbar {
    display: none;
    // display : flex;
 }


.ButtonFat{
    background-color: #F6F6F6;
   
    display: flex;
    justify-content: center;
    align-items: center;
    width:42%;
    height: 12rem;
    border-radius: 12px;
    margin :0.4rem;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.1);
}

.ButtonSlim{
    background-color: #F6F6F6;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
    height: 11rem;
    border-radius: 12px;
    // margin: 8px auto;
    margin : 0.6rem;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.1);
}