.FilterBox{
    display: inline-flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.875rem;
}

.FilterButton{
    display: flex;
    padding: 0.5rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    border: 1px solid #6B4EFF;
    color : #6B4EFF;
}