.TopNavWrap{
    display: flex;
    width: 86vw;
    padding: 0.75rem 1.8rem;
    margin-top: 2.94rem;
    flex-direction: row;
    // align-items: center;
    align-content: center;
    background-color: white;
    justify-content: space-between;
    z-index: 1000; /* 적절한 z-index 값을 선택하세요 */

}

.TopNavTitle{
    color: #090A0A;
    text-align: center;
    font-family: 'Pretendard';
    font-size: 1.4rem;
    // font-style: normal;
    font-weight: 400;
    line-height: 1.4rem;
    margin-top : 0.2rem;
    align-items: center;
}
.Icons{
    width: 1.8rem;
    // height: 2rem; 
    align-items: center;
    // line-height: 0.5rem;
}

.TopNavButton{
    background-color: #6B4EFF;
    width : 4rem;
    height  :auto;
    // height : 2rem;
    border-radius: 3rem;
    text-align: center;
    align-items: center;
    padding : 1rem 0.5rem;

}
