.ProfileTitleWrap{
    display: flex;
    padding: 1rem 3rem 1rem 3rem ;
    
    justify-content: space-between;
    align-items: center;
    // gap: 13.125rem;
    margin-top :6rem;
    background-color: transparent;
    // box-sohadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
}

.ProfileTitle{
    color: #000;
    font-family: 'Pretendard';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ProfileWrap{ //프로필 최상위 컨테이너
    display: flex;
    flex-direction: column;
    margin : 0rem 2rem;
    // width: 19.9375rem;
    // height: 11.25rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
}

.EditButton{
    color: #FF7074;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Profile{
    display: inline-flex;
    flex-direction: row;
    padding: 1rem;
    // align-items: flex-start;
    gap: 1rem;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
    

}


.Image{
    width: 5rem;
    height: 5rem;
    border : 1px solid #e2e2e2;
    border-radius: 0.3rem;
    // background-color: #E2E2E2;
}

.BoldText{
    color: #000;
    font-family: 'Pretendard';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    // text-align: center;
}

.InfoWrap{
    border-radius: 1.25rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    // box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
}

.InfoText{
    color: #000;
    font-family: 'Pretendard';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}

.Line{
    // margin : 1rem 1.5rem;
    width: 13rem;
    display: flex;
    height: 0.05rem;
    background: #EDEDED;
    align-items: center;
    text-align: center;
}


.Location{ 
    // width: 19.5625rem;
    height: 3.125rem;
    flex-shrink: 0;
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.25rem;
    // align-items: flex-start;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
}

.LocationText{
    display: flex;
    width: 14.3125rem;
    height: 2.5rem;
    flex-direction: column;
    font-family: 'Pretendard';
    // justify-content: center;
    align-items: flex-start;
    gap: 0.4rem;
    flex-shrink: 0;
    
}

.MypageMenu{
    display: flex;
    margin : 1rem 2rem;
    padding : 1.06rem;
    // width: 19.6875rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08);
    align-items: center;
    justify-content: space-between;
}

.MenuTitle{
    color: #000;
    font-family: 'Pretendard';
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


