*{
    border: none;
    font-family: 'inter';
}
.selectBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
    background-color: #f1f1f1;
    margin: 20px auto;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.20);
}

.textBox{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:black;
}