.ImageWrap{
    display: flex;
    // height : auto;
    // height: 35vh;
    // padding: 0.875rem 2.81938rem 0.875rem 2.9375rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0rem 0rem 1.5625rem 1.5625rem;
    margin-top :6rem;
    }

// .ImageWrap {
//     width: 100%;
//     max-width: 100%;
//     height: auto;
//     overflow: hidden;
//     }
    
.ImageWrap img {
width: 70%;
height: auto;
display: block;
}

.DetailWrap{
    display: flex;
    flex-direction: column;
    // height : 16vh;
    // align-items: flex-start;
    gap: 0.8rem;
    background-color: white;
    padding: 0.8rem 2.3rem;
    // justify-content: space-between;
    // width: 23.4375rem;
    // height: 10.25rem;
    flex-shrink: 0;
}



.FpName{
    color: #090A0A;
    // text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 90% */
    padding-left: 0.2rem;
}

.FpPrice{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 75% */
    letter-spacing: 0.00625rem;
    text-align: end;
    color: #FF7074;
    }

.FpTagWrap{
    // display : flex;
    display: flex;
    // padding: 0.5rem;
    align-items: flex-start;
    gap: 0.8rem;
    flex-wrap: wrap;
}

.FpTag{
    display: inline-flex;
    padding: 0.5rem 1rem;
    align-items: center;
    border-radius: 2rem;
    background: #F2F4F5;
 
}



.FpDescription{
    color:  #090A0A;
    // text-align: center;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 128.571% */
    padding-left: 0.2rem;


}

.FpFlowerWrap{
    // display : flex;
    display: inline-flex;
    // padding: 0.5rem;
    align-items: flex-start;
    gap: 0.8rem;
    flex-wrap: wrap;
}

.FpFlower{
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    border-radius: 2rem;
    background: #F2F4F5;
 
}

.Line{
    margin : 1rem 1.5rem;
    // width: 22rem;
    display: flex;
    height: 0.2rem;
    background: #EDEDED;
    align-items: center;
    text-align: center;
}

.TextWrap{
    display: flex;
    padding: 0rem 2.5rem;
    align-items: center;
    // gap : 10rem;
    justify-content: space-between;


}
.smallWrap
{
    display : flex;
    flex-direction: row;
    // justify-content: space-between;
    gap : 0.6rem;
}

.Text{
    color: #090A0A;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    margin-right : 2rem;
    // line-height: 1.125rem; /* 90% */
}

.Icon{
    // text-align: end;
}


.PurchaseButton{
    display: flex;
    // width: 20.1875rem;
    padding: 1rem 1.5rem;
    // margin : 2rem;
    margin : 1rem 2rem;
    justify-content: center;
    // align-items: center;
    gap: 0.5rem;
    border-radius: 0.75rem;
    background: #FF7074;
    color : white;
    flex-direction: row;
    align-items: flex-start;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 133.333% */
}



// .AmountWrap {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin-top: 20px;
  
//     .Text {
//       font-size: 16px;
//       margin-bottom: 10px;
//     }
  
//     .AmountControls {
//       display: flex;
//       align-items: center;
  
//       .AmountButton {
//         background-color: #007bff;
//         color: #fff;
//         border: none;
//         padding: 8px 12px;
//         font-size: 18px;
//         cursor: pointer;
//         transition: background-color 0.3s;
  
//         &:hover {
//           background-color: #0056b3;
//         }
//       }
  
//       .Amount {
//         font-size: 18px;
//         margin: 0 10px;
//       }
//     }
// }

.AmountControls {
          display: flex;
          align-items: center;
          justify-content: center;
      
          .AmountButton {
            background-color: #ffffff;
            color: #858585;
            border: 0.5px solid #858585;
            border-radius: 0.2rem;
            padding: 0.1rem 0.6rem;
            font-size: 1.2rem;
            cursor: pointer;
            transition: background-color 0.3s;
      
            &:hover {
              background-color: #E2E2E2;
            }
          }
      
          .Amount {
            font-size: 1rem;
            margin: 0 0.6rem;
            font-weight: 600;
            text-align: center;
        
            
          }
        }