*{
    border: none;
    font-family: 'inter';
}
.TopNavWrap{
    display: flex;
    padding: 0.75rem 1.2rem;
    // margin-top: 2.94rem;
    flex-direction: row;
    align-items: center;
    // align-items: flex-start;
    background-color: white;
    // justify-content: space-between;
    gap : 5rem;

}

.TopNavTitle{
    color: #090A0A;
    text-align: center;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    margin-top : 0.2rem;
}

.Container{
    overflow: auto;
    margin-top:30px;
    width:100%;
    display : flex;
    flex-direction: column;
    margin-top: 6rem;
    // border: solid red 1px;
}

.ProductPhoto{
    width:184px;
    height:195px;
    margin:8px auto;
    background-color: #eeeeee;
    padding: auto;
    border-radius: 8px;
    overflow: hidden;
}

.ChangePhoto{
    display: flex;
    width:11.5rem;
    height:1.8rem;
    margin:8px auto;
    justify-content: center;
    align-items: center;
    background-color: #E2E2E2;
    border-radius: 0.375rem;
    font-family: Inter;
    font-size: 1rem;
    color: #757575;
}

.Button{
    display: flex;
    //width : 18rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.375rem;
    background-color: #FF7074;
    color: white;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    margin:  1rem 1rem;
        
}

.inputBox{
    width:339px;
    height:52px;
    border: 2px solid #E2E2E2;
    border-radius: 12px;
    margin: 3px auto
}

.inputBox::placeholder{
    font-family:'inters';
    font-size: 16px;
}

.ProductPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
