.profileContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 100%;
    // border-bottom: solid #E7E7FF 1px;   
    text-align: center;
    padding-top : 7rem;
    padding-bottom: 0.8rem;
    // box-shadow:0px 4px 4px rgba(0, 0, 0, 0.20);
}

// .profilePhoto{
//     width: 55px;
//     height: 55px;
//     background-color: rgb(240, 240, 240);
//     border: 1px solid rgb(56, 56, 56);
//     border-radius: 20px;
//     text-align: center;
//     margin: 8px auto;
//     overflow: hidden;

// }

.selectBox{
    width: 21rem;
    height: 7rem;
    border-radius: 0.4rem;
    background-color: #E7E7FF;
    margin: 8px auto;
    display: flex;
    align-items: center;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.20);
}

.textBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px auto;
    width: 7rem;
    height: 2.5rem;
    // background-color: rgb(36, 34, 34);
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 8px;
    color: white;
}