.profileContainer{
    width: 100%;
    border: solid red 1px;   
    text-align: center;
}

.profilePhoto{
    width: 50px;
    height: 50px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(56, 56, 56);
    border-radius: 20px;
    text-align: center;
    margin: 8px auto;
}

.selectBox{
    width: 143px;
    height: 194px;
    border-radius: 48px;
    background-color: #E7E7FF;
    margin: 20px auto;
}

.textBox{
    margin-top: 60%;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #6B4EFF;
}